<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="/css/styleForLoginSignup.css">
</head>

<body>
    <div class="logo">WebSnippet</div>
    <div class="container container-login-signup">
        <h1>SignUp</h1>
        <div id="input-field">
            <form action="/user/signup" method="post">
                <label for="name">Name </label>
                <input type="text" id="name" name="name" placeholder="abc">
                <label for="email">Email </label>
                <input type="text" id="email" name="email" placeholder="abc@email.com">
                <label for="password">Password </label>
                <input type="text" id="password" name="password" placeholder="password">
                <% if(locals.err){ %>
                    <span style="color: white;">
                        <%=err %>
                    </span>
                    <% } %>
                        <button type="Submit">Submit</button>
            </form>
        </div>
    </div>
</body>

</html>